<!-- iOSスプラッシュスクリーン（scripts/generate_pwa_assets.py で自動生成） -->
  <!-- iPhone SE/7/8 -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/static/icons/splash/apple-splash-750-1334.png">
  <!-- iPhone X/11 Pro/12-13 mini -->
  <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/static/icons/splash/apple-splash-1125-2436.png">
  <!-- iPhone 12/13/14 -->
  <link rel="apple-touch-startup-image" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/static/icons/splash/apple-splash-1170-2532.png">
  <!-- iPhone 14 Pro/15/16 -->
  <link rel="apple-touch-startup-image" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/static/icons/splash/apple-splash-1179-2556.png">
  <!-- iPhone 14-16 Plus/Pro Max -->
  <link rel="apple-touch-startup-image" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/static/icons/splash/apple-splash-1290-2796.png">
  <!-- iPad Air/Pro 11インチ（縦） -->
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/static/icons/splash/apple-splash-1668-2388.png">
  <!-- iPad Air/Pro 11インチ（横） -->
  <link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="/static/icons/splash/apple-splash-2388-1668.png">
